<div class = "appointment_form" style = "margin-top: 200px;">
    <form>
        <table>
            <tr>
                <td>
                    <input type = "date" placeholder = "Date" [(ngModel)] = "appointment_date"/>
                </td>
            </tr>
            <tr>
                <td><textarea cols = "36" rows = "4" placeholder = "Reason"></textarea>
            </tr>

            <tr>
                <td><input placeholder = "Doctor" placeholder = "Doctor"/></td>
            </tr>

            <tr>
                <button mat-stroked-button>SAVE</button>
            </tr>
        </table>
    </form>
</div>
