@charset "UTF-8";

.head {}

.head h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

.head {
    width: 100%;
}

.nav ul {
    list-style: none;
    margin: 80px 700px;
}

.nav ul li {
    float: left;
    width: 100px;
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}