<div class = "dataForm">
    <form [formGroup] = "RegisterForm">
        <table>
            <tr>
                <td><input placeholder = "Patient Name" class = "patient_name" [(ngModel)] = "patientName" formControlName = "patient_name"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Patient Surname" class = "patient_surname" [(ngModel)] = "patientSurname" formControlName = "patient_surname"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Patient Age" class = "patient_age" [(ngModel)] = "patientAge" formControlName = "patient_age"/></td>
            </tr>
            
            <tr>
                <input type = "radio" value = "Male" [(ngModel)] = "patientGender" formControlName = "gender" style = "margin-top: 15px;margin-bottom: 15px;"/>Male
                <input type = "radio" value = "Female" [(ngModel)] = "patientGender" formControlName = "gender" style = "margin-top: 15px;margin-bottom: 15px;"/>Female
            </tr>

            <tr>
                <td><textarea cols = "36" rows = "4" placeholder = "Patient Address" class = "patient_address" [(ngModel)] = "patientAddress" formControlName = "patient_address"></textarea></td>
            </tr>

            <tr>
                <td><input placeholder = "Cell Number" class = "cell_number" [(ngModel)] = "patientCell" formControlName = "cell_number"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Email" class = "eMail" [(ngModel)] = "patientEmail" formControlName = "eMail"/></td>
            </tr>
            
            <tr>
                <td><button (click) = "AddPatients()">Register</button></td>
            </tr>
        </table>
    </form>
</div>

<div class = "tableData">
    <mat-list *ngFor = "let patient of Patients_Info" style = "width: 500px;margin: auto 700px;margin-bottom: 50px;">
        <h3 mat-subheader style = "margin-bottom: 20px;">Patient Info</h3>
            <mat-list-item>
                <mat-icon mat-list-icon style = "margin-bottom: 80px;">
                    <img src = "/assets/{{patient.patient_avatar}}" alt = "avatar" width = "70px" height = "70px"/>
                </mat-icon>
                <h3 mat-line style = "margin-left: 50px;">{{patient.patient_name}} {{patient.patient_surname}}</h3>
                <p mat-line style = "margin-left: 50px;margin-bottom: 50px;"> {{patient.patient_id}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
        <h3 mat-subheader>Contacts</h3>
            <mat-list-item>
                <mat-icon mat-list-icon>phone</mat-icon>
                <h4 mat-line>{{patient.patient_cell_number}}</h4>
                <h4 mat-line> {{patient.patient_email}} </h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <button mat-stroked-button (click) = "Remove_Patient(patient)" style = "margin-right: 10px;">DELETE</button>
            <button mat-stroked-button routerLink = "/patients" (click) = "PatientInfo(patient)">VIEW</button>
    </mat-list>
</div>