<div class = "dataForm">
    <form [formGroup] = "RegisterForm">
        <table>
            <tr>
                <td><input placeholder = "Patient Name" class = "patient_name" [(ngModel)] = "patientName" formControlName = "patient_name"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Patient Surname" class = "patient_surname" [(ngModel)] = "patientSurname" formControlName = "patient_surname"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Patient Age" class = "patient_age" [(ngModel)] = "patientAge" formControlName = "patient_age"/></td>
            </tr>
            
            <tr>
                <input type = "radio" value = "Male" [(ngModel)] = "patientGender" formControlName = "gender" style = "margin-top: 15px;margin-bottom: 15px;"/>Male
                <input type = "radio" value = "Female" [(ngModel)] = "patientGender" formControlName = "gender" style = "margin-top: 15px;margin-bottom: 15px;"/>Female
            </tr>

            <tr>
                <td><textarea cols = "36" rows = "4" placeholder = "Patient Address" class = "patient_address" [(ngModel)] = "patientAddress" formControlName = "patient_address"></textarea></td>
            </tr>

            <tr>
                <td><input placeholder = "Cell Number" class = "cell_number" [(ngModel)] = "patientCell" formControlName = "cell_number"/></td>
            </tr>

            <tr>
                <td><input placeholder = "Email" class = "eMail" [(ngModel)] = "patientEmail" formControlName = "eMail"/></td>
            </tr>
            
            <tr>
                <td><button (click) = "AddPatients()">Register</button></td>
            </tr>
        </table>
    </form>
</div>

<div class = "tableData" style = "text-align: center;">
    <table>
        <tr *ngFor = "let patient of Patients_Info">
            <td style = "max-width: 200px;"><img src = "/assets/{{patient.patient_avatar}}" alt = "avatar" width = "100px" height = "100px"/></td>
            <td>
                <h1>ID: {{patient.patient_id}}</h1>
                <h3><pre>{{patient.patient_name}} {{patient.patient_surname}}</pre></h3>
            </td>
            <td>
                <button (click) = "Remove_Patient(patient)">Delete</button>
                <button routerLink = "/patients" (click) = "PatientInfo(patient)">VIEW</button>
            </td>
        </tr>
    </table>
</div>